extends layout

block content
    div#fullpage
        div#home.row.section
            p
                h1.name PeerProof
                h4 Anonymous Collaboration, Supervised
        div#about.row.section
            div.slide(data-anchor="slide1")
                h1 What Is PeerProof?
                p 
                    |PeerProof is an online education platform for anonymous collaboration
                    | between students. The first iteration focused on exchange of academic papers
                    | for college students. We are currently working on a platform tailored for k-12
                    | students that focuses on individual classes within schools.
            div.slide(data-anchor="slide2")
                h1 Why is this necessary or useful?
                p 
                    | Two major problems persist in primary education in America, the under-utilization
                    | of students as mentors for peers, and the general exploitation and mistreatment of teachers.
                    | We at PeerProof believe that these problems, while not necessarily mutually inclusive, can be solved
                    | in unison. By enabling students to seek instruction from peers and provide instruction to peers more
                    | efficiently we can reinforce important ideas while simulatenously reducing class time wasted on review previously neccesitated
                    | from lack of understanding.
            div.slide(data-anchor="slide3")
                h1 This all sounds swell, but how will this actually work?
                p 
                    | PeerProof is a bifold platform. The first piece is an exchange module for assignments where
                    | the supervising teacher can upload a class roster and  an assignment. After students
                    | submit the assignment before a specified deadline the teacher can distrbute an answer key through the platform
                    | and then assign every student to correct the assignment of a peer. Anonymity is maintained on the student side
                    | throughout the process to eliminate bias or privacy issues. Only the teacher knows which student completed each assignment and which student
                    | is reviewing it.
                p 
                    |The second module will consist of anonymous chatrooms individual topics or questions that will be supervised and
                    | contributed to by a supervising teacher.

        div#team.row.section
                h2 Sam Hopkins | Founder/Lead Engineer
                p
                    | Sam is a fourth year at The University of Chicago studying computer science.


        div#vision.row.section
            h2 Our Vision
            p 
                | We hope to forever tranform how students and teachers interact as a collective.
                | We believe students biggest most valuable educational resources are their peers. We also believe that the future
                | of technology in education is not the introduction of new curriculum tailored for technology, but 
                | instead that it is the facilitation of increased efficiency and accesibility in the existing
                | model.
        div#contact.row.section
            h2 Contact
            p.contact
                | Email us at peerproofhelp@gmail.com.
