doctype html
html
  head
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/javascripts/jquery.min.js')

    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/jquery.fullPage.js')
    link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="/css/jquery.fullPage.css")
    link(rel='stylesheet', href='/css/style.css')
    title= title
  body
    block content
